.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;

}

.box {
    height: 250px;
    box-shadow: -4px -3px 39px -8px rgba(0,0,0,0.1);
    -webkit-box-shadow: -4px -3px 39px -8px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -3px 39px -8px rgba(0,0,0,0.1);
    flex-basis: 30%;
    border-radius: 10px;
    overflow-y: hidden;
    margin: 20px 0;
    transition: 1s;
    cursor: pointer;


}
.box:hover {
    transform: translateY(-30px);
}

h3{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}
p{
    text-align: center;
    margin-top: 10px;
}